@font-face {
    font-family: "Work Sans";
    src: url("/assets/fonts/static/WorkSans-Regular.ttf");
    font-style: "normal";
    font-weight: 400;
}

@font-face {
    font-family: "Work Sans";
    src: url("/assets/fonts/static/WorkSans-SemiBold.ttf");
    font-style: "normal";
    font-weight: 600;
}

@font-face {
    font-family: "Work Sans";
    src: url("/assets/fonts/static/WorkSans-Bold.ttf");
    font-style: "normal";
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    overflow: hidden;
    box-sizing: border-box;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-container {
    width: 375px;
    height: 812px;
    background-image: url(/assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 327px;
    height: 527px;
    background-color: white;
    border-radius: 8px;
    padding: 12px;
}

@media (min-width: 1440px) {
}
