@font-face {
    font-family: "Work Sans";
    src: url("/assets/fonts/static/WorkSans-Regular.ttf");
    font-style: "normal";
    font-weight: 400;
}

@font-face {
    font-family: "Work Sans";
    src: url("/assets/fonts/static/WorkSans-SemiBold.ttf");
    font-style: "normal";
    font-weight: 600;
}

@font-face {
    font-family: "Work Sans";
    src: url("/assets/fonts/static/WorkSans-Bold.ttf");
    font-style: "normal";
    font-weight: 700;
}

:root {
    --work-sans-font-family: "Work Sans";
    --work-sans-regular: 400;
    --work-sans-semi-bold: 600;
    --work-sans-bold: 700;
    --container-background-color: hsl(275, 100%, 97%);
    --faq-answer-color: hsl(292, 16%, 49%);
    --light-pink-color: hsl(275, 100%, 97%);
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-container {
    width: 375px;
    height: 812px;
    background-image: url("/assets/images/background-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-color: var(--container-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
    background-color: white;
    border-radius: 8px;
    margin: 0;
    padding: 24px 20px;
}

header {
    height: 38px;
    display: flex;
    align-items: center;
    gap: 20px;
}

header h1 {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-family: var(--work-sans-font-family);
    font-weight: var(--work-sans-bold);
    font-size: 32px;
}

header img {
    width: 24px;
    height: 24px;
}

.accordion-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.faq-list-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.faq-list-item:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-pink-color);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question p {
    display: inline-block;
    font-family: var(--work-sans-font-family);
    font-weight: var(--work-sans-semi-bold);
    cursor: pointer;
    transition: 0.2s;
    margin: 0;
}

.faq-question p:hover {
    color: #ad28eb;
}

.faq-question button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.faq-answer {
    display: none;
    transition: all 0.3s ease;
}

.faq-answer p {
    margin: 0;
    font-family: var(--work-sans-font-family);
    font-weight: var(--work-sans-regular);
    font-size: 14px;
    line-height: 150%;
    color: var(--faq-answer-color);
}

.faq-list-item.active .faq-answer {
    display: block;
}

@media (min-width: 1440px) {
    .layout-container {
        width: 1440px;
        height: 900px;
        background-image: url("/assets/images/background-pattern-desktop.svg");
    }

    .content-container {
        width: 600px;
        height: 565px;
        padding: 40px;
    }

    header h1 {
        height: 60px;
        line-height: 60px;
        font-size: 48px;
    }

    header img {
        width: 40px;
        height: 40px;
    }

    main {
        width: 520px;
    }

    .faq-question p {
        font-size: 18px;
    }

    .faq-answer p {
        font-size: 16px;
    }
}
